body{
    margin: 2em;
    background-image:url(../images/main.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  
}
.wrapper-info {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  #wrapper-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #wrapper-explanation {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #wrapper-date {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  #wrapper-copyright {
    font-size: 14px;
    color: #666;
  }

  #wrapper-hdurl {
    display: block;
    margin-bottom: 20px;
  }
  
  #wrapper-hdurl:hover #wrapper-image {
    transform: scale(1.1);
  }
  
  #wrapper-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-img-top {
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  #wrapper-image {
    margin: auto;
    display: block;
    max-width: 1000px; /* set the max-width to 100% to make the image responsive */
    height: auto;

  }

  /* apply different styles for screens with a maximum width of 600px */
@media (max-width: 600px) {
    #wrapper-image {
      max-width: 100%;
    }
  }
  
  /* apply different styles for screens with a maximum width of 900px */
  @media (max-width: 900px) {
    #wrapper-image {
      max-width: 90%;
    }
  }

  .ChangaOne{
    font-family: 'Changa One', cursive;
    color: #f7f7f7;
  }